{erl_opts, [debug_info]}.
{deps,
   [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {rz_util, ".*", {git, "git@bitbucket.org:AVNechaev/rz_util.git", {branch, "master"}}},
    {gun, ".*", {git, "https://github.com/ninenines/gun", {branch, "master"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy", {branch, "master"}}}
  ]}.
{dialyzer, [{plt_apps, all_deps}]}.
